@charset "utf-8";

body {
	background: #f9f6f6;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-left: 25%;
	margin-right: 25%;
	position: absolute;
}

h1 {
	color: #000000;
	text-align: center;
	font-size: 28px;
	letter-spacing: 1px;
}

h2 {
	color: #666666;
	text-align: justify;
	font-size: 20px;
	font-weight: inherit;
}

p {
	color: #000000;
	text-align: justify;
	font-size: 15px;
}

.principal-img {
	position: relative;
	max-width: 100%;
	width: 100%;
}

.right-img {
	float: right;
	padding-left: 34px;
	max-width: 100%;
}