@charset "UTF-8";
/* CSS Document */

body {
	background:#EAE5E5;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	margin-left: 20%;
	margin-right: 20%;
	position: absolute;
}

h1 {
	color: #000000;  
	font-size: 32px;
	text-align: center;
  text-transform: uppercase;
}

h2 {
	color: #615e5e; 
	font-size: 22px;
	text-align: justify;
}

p {
	color: #000000;
	font-size: 15px;
	text-align: justify;
  word-spacing: 2px;
}

.main-img {
	position: relative;
	height: 100%;
	width: 100%;
}

.right-img {
  float: right;
  padding-left: 32px;
}
